/.project
/.pydevproject
/.pytest_cache
/venv
/.venv
/pycurl-7.43.0.5-cp39-cp39-win_amd64.whl
**allure_output**
**__pycache__**
**report.html**
**report_**.html
**output.xml**
**log.html**
**.idea**
/.pytest_cache/
/libspecs/
/log.html
/output.xml
/report.html
/report_**.html
/assets
allure_output/
/.idea/
**__pycache__**
**report.html**
**log.html**
**output.xml**
.idea/**

.vscode/settings.json
